<mat-toolbar class="view" color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button> -->
    <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
    <!-- </button> -->
    <!-- <h1>SimpleCRM</h1> -->
    <span class="menu-spacer"></span>
    <div>
      <a class="anchor_property" mat-button [routerLink]="'/about'"> About </a>
      <a class="anchor_property" mat-button [routerLink]="'/contact'"> Contact </a>
      <div class="row">
        <div class="col-md-12" style="text-align: right;">
          <div *ngIf="!user">
            <button mat-raised-button (click)="goToLogin()">Login</button>

          </div>
        </div>
        <div *ngIf="user">
          <button mat-raised-button (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row> -->
</mat-toolbar>
